@use "typography/index.scss";

html {
  font-size: 62.5%; /* 1rem = 10px (for easier calculations) */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  max-height: 100vh;
}

input::placeholder {
  color: var(--gray);
}
